![Self Check Exercises check mark image](files/art/check.png)
# 7.14.2 Self Check

**1. _(IPython Session)_** Given the following dictionary;
```python 
temps = {'Mon': [68, 89], 'Tue': [71, 93], 'Wed': [66, 82],
         'Thu': [75, 97], 'Fri': [62, 79]}
```
perform the following tasks:

**a.** Convert the dictionary into the `DataFrame` named `temperatures` with `'Low'` and `'High'` as the indices, then display the `DataFrame`.

**b.** Use the column names to select only the columns for `'Mon'` through `'Wed'`.

**c.** Use the row index `'Low'` to select only the low temperatures for each day.

**d.** Set the floating-point precision to 2, then calculate the average temperature for each day.

**e.** Calculate the average low and high temperatures.

**Answer:**

In [1]:
import pandas as pd

In [2]:
temps = {'Mon': [68, 89], 'Tue': [71, 93], 'Wed': [66, 82],
         'Thu': [75, 97], 'Fri': [62, 79]}

In [3]:
temperatures = pd.DataFrame(temps, index=['Low', 'High'])  # (a)

In [4]:
temperatures  # (a)

      Mon  Tue  Wed  Thu  Fri
Low    68   71   66   75   62
High   89   93   82   97   79

In [5]:
temperatures.loc[:, 'Mon':'Wed']  # (b)

      Mon  Tue  Wed
Low    68   71   66
High   89   93   82

In [6]:
temperatures.loc['Low']  # (c)

Mon    68
Tue    71
Wed    66
Thu    75
Fri    62
Name: Low, dtype: int64

In [7]:
pd.set_option('precision', 2)  # (d)

In [8]:
temperatures.mean()  # (d)

Mon    78.5
Tue    82.0
Wed    74.0
Thu    86.0
Fri    70.5
dtype: float64

In [9]:
temperatures.mean(axis=1)  # (e)

Low     68.4
High    88.0
dtype: float64

In [ ]:
##########################################################################
# (C) Copyright 2019 by Deitel & Associates, Inc. and                    #
# Pearson Education, Inc. All Rights Reserved.                           #
#                                                                        #
# DISCLAIMER: The authors and publisher of this book have used their     #
# best efforts in preparing the book. These efforts include the          #
# development, research, and testing of the theories and programs        #
# to determine their effectiveness. The authors and publisher make       #
# no warranty of any kind, expressed or implied, with regard to these    #
# programs or to the documentation contained in these books. The authors #
# and publisher shall not be liable in any event for incidental or       #
# consequential damages in connection with, or arising out of, the       #
# furnishing, performance, or use of these programs.                     #
##########################################################################